name: GitOps Pages

on:
  push:
    branches:
      - main

permissions:
  contents: read
  pages: write
  id-token: write

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Vérifier l’intention
        run: |
          grep "Site Version 1" index.html

      - name: Upload artifact Pages
        uses: actions/upload-pages-artifact@v3
        with:
          path: .

  publish:
    needs: deploy
    runs-on: ubuntu-latest

    environment:
      name: github-pages

    steps:
      - uses: actions/deploy-pages@v4

